<style>
/* Your other css */
    body {
      background-image: url(http://wallpapercave.com/wp/i1rq6FB.jpg);
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
.section .reveal .state-background {
    background-image: url(http://wallpapercave.com/wp/i1rq6FB.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
</style>
